Repository Dlutsok/news_rm, changes with the owners that CODEOWNERS names for each.
All owners: @team-leads, @backend-team, @api-team, @db-team, @devops-team, @frontend-team, @ui-team, @tech-writers, @security-team

CODEOWNERS:

# Global owners - требуют approval для всех изменений в критичных файлах
* @team-leads

# Backend ownership
/backend/ @backend-team
/backend/api/ @backend-team @api-team
/backend/database/ @backend-team @db-team
/backend/services/ @backend-team
/backend/core/ @backend-team @devops-team

# Frontend ownership
/frontend/ @frontend-team
/frontend/components/ @frontend-team @ui-team
/frontend/pages/ @frontend-team
/frontend/utils/ @frontend-team
/frontend/contexts/ @frontend-team

# Infrastructure and configuration
/.github/ @devops-team
/scripts/ @devops-team @backend-team
/docs/ @tech-writers @team-leads

# Configuration files - require multiple approvals
package.json @frontend-team @devops-team
requirements.txt @backend-team @devops-team
*.config.js @frontend-team @devops-team
*.config.json @frontend-team @devops-team
jsconfig.json @frontend-team

# Database and migrations
/backend/database/migrations/ @db-team @backend-team
alembic.ini @db-team @backend-team

# Security sensitive files
/backend/core/config.py @security-team @backend-team
/backend/middleware/ @security-team @backend-team

# Documentation
/docs/architecture/ @team-leads @tech-writers
/docs/adr/ @team-leads
README.md @tech-writers @team-leads

Настройка автоматического деплоя через GHCR
  .github/workflows/docker-build.yml
  .github/workflows/structure-check.yml
  Dockerfile.nginx
  deployed/docker-compose.yml
Owners: @devops-team, @team-leads

Исправлен порядок COPY в Dockerfile фронтенда
  frontend/Dockerfile
Owners: @frontend-team

Исправление копирования public в Dockerfile
  frontend/Dockerfile
Owners: @frontend-team

Добавлена отладка и исправление COPY public
  frontend/Dockerfile
Owners: @frontend-team

Явное копирование папки public в builder stage
  frontend/Dockerfile
Owners: @frontend-team

Изменен build context на корень репозитория
  .github/workflows/docker-build.yml
  frontend/Dockerfile
Owners: @devops-team, @frontend-team

Убран дублирующий COPY public, добавлена отладка
  frontend/Dockerfile
Owners: @frontend-team

Создан .dockerignore в корне, публичная папка не исключается
  .dockerignore
Owners: @team-leads

Копирование public напрямую в runner stage из context
  frontend/Dockerfile
Owners: @frontend-team

ИСПРАВЛЕНО: Добавлена папка frontend/public в git
  .gitignore
  frontend/public/.well-known/robots.txt
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/public/robots.txt
  frontend/public/sitemap.xml
Owners: @team-leads, @frontend-team

Исправлен Dockerfile.nginx - копирование как nginx.conf
  Dockerfile.nginx
Owners: @team-leads

Исправлены CORS и SSL проблемы
  deployed/docker-compose.yml
  frontend/Dockerfile
Owners: @team-leads, @frontend-team

Исправлен роутинг nginx для Next.js API routes
  nginx-server.conf
Owners: @team-leads

Исправлена ошибка генерации изображения в ArticleEditor
  frontend/components/ArticleEditor.js
Owners: @frontend-team, @ui-team

Настроен внешний cron для автопубликации новостей
  backend/main.py
  scripts/README_CRON.md
  scripts/cron_publish_news.sh
  scripts/medical-news-publisher.service
  scripts/medical-news-publisher.timer
  scripts/publish_scheduled_news.py
Owners: @backend-team, @devops-team

Исправлен скрипт автопубликации cron
  scripts/cron_publish_news.sh
  scripts/publish_scheduled_news.py
Owners: @devops-team, @backend-team

Исправлены редиректы и роутинг
  backend/main.py
  nginx-server.conf
Owners: @backend-team, @team-leads

Исправлено дублирование префиксов роутеров
  backend/api/expenses.py
  backend/api/users.py
  backend/main.py
Owners: @backend-team, @api-team

Исправлены проблемы с роутингом и аутентификацией
  backend/api/expenses.py
  backend/api/users.py
  backend/requirements.txt
Owners: @backend-team, @api-team, @devops-team

Fix: Исправление проблем авторизации
  backend/api/url_articles.py
  backend/database/models.py
  backend/database/schemas.py
  backend/main.py
  backend/migrations/add_url_source_type.sql
  backend/requirements.txt
  backend/reset_admin_password.py
  backend/services/ai_service.py
  backend/services/url_article_parser.py
  backend/test_url_parser.py
  frontend/components/ArticlePreviewModal.js
  frontend/components/ProjectSelectorModal.js
  frontend/components/URLArticleCard.js
  frontend/components/URLNewsInput.js
  frontend/middleware.js
  frontend/pages/api/auth/login.js
  frontend/pages/api/auth/me.js
  frontend/pages/api/proxy/[...path].js
  frontend/pages/login.js
  frontend/pages/monitoring.js
  frontend/utils/api.js
Owners: @backend-team, @api-team, @db-team, @devops-team, @frontend-team, @ui-team

Fix: Полное исправление авторизации через HttpOnly cookies
  docs/AUTH_FIX_2025-10-07.md
  frontend/contexts/AuthContext.js
  frontend/utils/api.js
  nginx-server.conf
Owners: @tech-writers, @team-leads, @frontend-team

Fix: Исправлена авторизация и CSRF protection
  frontend/utils/api.js
Owners: @frontend-team

Fix: Исправлена проверка ролей и передача Cookie через nginx
  frontend/pages/expenses.js
  frontend/pages/settings.js
  frontend/pages/system-monitoring.js
  nginx-server.conf
Owners: @frontend-team, @team-leads

Fix: Добавлен скрипт публикации в Docker образ
  backend/scripts/README_CRON.md
  backend/scripts/backup/backup_monitor.py
  backend/scripts/backup/crontab.example
  backend/scripts/backup/postgres_backup.sh
  backend/scripts/backup/restore_backup.sh
  backend/scripts/cron_publish_news.sh
  backend/scripts/medical-news-publisher.service
  backend/scripts/medical-news-publisher.timer
  backend/scripts/migration/fix_frontend_imports.js
  backend/scripts/migration/migration-plan.md
  backend/scripts/migration/mv_safe.sh
  backend/scripts/publish_scheduled_news.py
Owners: @backend-team

fix: Correct image storage volume path in docker-compose.yml
  deployed/docker-compose.yml
Owners: @team-leads

fix: Fix image upload endpoint in ArticleEditor
  frontend/components/ArticleEditor.js
  frontend/pages/api/upload-image.js
Owners: @frontend-team, @ui-team

fix: Исправлен путь к изображениям в nginx и увеличен лимит загрузки до 50MB
  deployed/nginx.conf
  nginx-server.conf
Owners: @team-leads

fix: Увеличен лимит загрузки файлов в Next.js API proxy до 50MB
  frontend/pages/api/proxy/[...path].js
Owners: @frontend-team

fix: Полное исправление загрузки файлов через Next.js API proxy
  frontend/pages/api/proxy/[...path].js
Owners: @frontend-team

Исправлен endpoint для регенерации изображений в URL-статьях
  frontend/components/URLNewsInput.js
Owners: @frontend-team, @ui-team

fix: Исправлены критические ошибки генерации изображений и улучшены промпты
  backend/api/image_generation.py
  backend/api/news_generation.py
  backend/api/url_articles.py
  backend/scripts/compare_yandex_models.py
  backend/scripts/test_yandex_models.py
  backend/services/ai_service.py
  backend/storage/model_comparison/yandex-art_20251030_084234.jpeg
  backend/test_openai.py
  backend/test_summarize.py
  docs/migration/gigachat-image-generation-migration-plan.md
  docs/yandex-art-models-research.md
  frontend/components/FoundNews.js
  frontend/pages/api/proxy/[...path].js
  frontend/pages/monitoring.js
  frontend/utils/api.js
  Прод/PRODUCTION_STATUS_REPORT.md
  Прод/SERVER_QUICK_GUIDE.md
Owners: @backend-team, @api-team, @tech-writers, @team-leads, @frontend-team, @ui-team

fix: Исправлена регенерация изображений в URL-статьях и улучшены промпты
  backend/services/ai_service.py
  frontend/components/URLNewsInput.js
Owners: @backend-team, @frontend-team, @ui-team

feat: Интеграция KIE AI (Gemini 2.5 Flash) для генерации изображений
  CLAUDE.md
  backend/api/image_generation.py
  backend/api/news_generation.py
  backend/api/url_articles.py
  backend/core/config.py
  backend/core/env_validator.py
  backend/requirements.txt
  backend/services/ai_provider.py
  backend/services/ai_service.py
  backend/services/kie_image_client.py
  backend/storage/model_comparison/yandex-art_20251030_084234.jpeg
  docs/archive/yandex-art-models-research.md
  docs/kie-api-integration.md
Owners: @team-leads, @backend-team, @api-team, @security-team, @devops-team, @tech-writers

feat: Автоматическая генерация промптов при регенерации изображений
  backend/api/news_generation.py
Owners: @backend-team, @api-team

fix: Исправлена регенерация изображений для запланированных статей и httpx proxy
  .gitignore
  backend/services/ai_provider.py
  deployed/deploy.sh
  frontend/pages/published.js
Owners: @team-leads, @backend-team, @frontend-team

fix: Исправлена генерация изображений - новости теперь не возвращаются без фото
  backend/core/config.py
  backend/services/ai_provider.py
  backend/services/ai_service.py
  backend/services/kie_image_client.py
  backend/test_openai.py
  frontend/components/FoundNews.js
  frontend/components/ProgressModal.js
Owners: @security-team, @backend-team, @frontend-team, @ui-team

fix: Улучшен URL парсер - trafilatura fallback при timeout/ошибках Jina AI, увеличен таймаут до 2 мин
  backend/services/url_article_parser.py
  frontend/pages/api/proxy/[...path].js
Owners: @backend-team, @frontend-team

fix: исправлен параметр proxies -> proxy для httpx.AsyncClient
  backend/services/ai_provider.py
Owners: @backend-team
